@charset "utf-8";
/* CSS Document */

#title{
	color:#FFF;
	
	}

.login-content{
	
	padding:10%;
	top:10%;
	position:absolute;
	width:80%;
	background-color: transparent;
	
	}
	

.login-page{
	background:
		-webkit-linear-gradient(45deg, hsla(0, 100%, 53%, 1) 0%, hsla(0, 100%, 53%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(42, 100%, 52%, 1) 10%, hsla(42, 100%, 52%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(15, 100%, 52%, 1) 10%, hsla(15, 100%, 52%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(1, 100%, 52%, 1) 100%, hsla(1, 100%, 52%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(0, 100%, 53%, 1) 0%, hsla(0, 100%, 53%, 0) 70%),
		linear-gradient(135deg, hsla(42, 100%, 52%, 1) 10%, hsla(42, 100%, 52%, 0) 80%),
		linear-gradient(225deg, hsla(15, 100%, 52%, 1) 10%, hsla(15, 100%, 52%, 0) 80%),
		linear-gradient(315deg, hsla(1, 100%, 52%, 1) 100%, hsla(1, 100%, 52%, 0) 70%);
	}
#error{
	color:#FFF;
	}
.logout{
	margin-top:-1px;
	}
.header-top{
	padding-top:20px;
	}
	
img{
	max-width: 100%; 
	display:block; 
	height: auto;
	margin-left: auto;
    margin-right: auto 
	}
#footer{
	bottom:0;
	position:absolute;
	width:100%;
	}
#single-content{
	margin-bottom:50px;
	}